.homeBar {
    background: #EBEEF3;
    width: 23px;
    padding: 0.5%;
    border-radius: 0px 5px 5px 0px;
    float: left;
}

.Titlebar {
    margin-top: 1%;
    margin-bottom: 3%;
}

.backBar {
    background: #EBEEF3;
    width: auto;
    padding: 0.5%;
    border-radius: 5px;
    float: left;
    margin-left: 0.5%;
}

.textBar {
    width: auto;
    padding: 0 0.5%;
    border-radius: 5px;
    float: left;
    margin-left: 0.5%;
}

.textBar span.text {
    position: relative;
    top: -2px;
    font-size: 1.6em;
    margin-left: 4px;
}

.fa{
    color: #484848;
}

.clearfix {
    clear: both;
    float: none;
}